<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="one-half columns">
	<div class="field">
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </div>
</div>
  <div class="one-half columns">
	<div class="field">
	    <%= f.label :budget %><br />
	    <%= f.text_field :budget %>
	  </div>
</div>
<div class="one-half columns">
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :begin %>
  </div>
</div>

<div class="one-half columns">
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end %>
  </div>
</div>
<div class="sixteen columns">
	<%= f.fields_for :milestones do |builder| %>
	  <%= render 'milestone_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add Milestones", f, :milestones %>
	<% if !@company_id.nil? %>
	 <%= f.hidden_field :company_id, :value => @company_id %>
	<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
