<div class="sixteen columns">
<% @company_name.each do |company| %>
<h3>Listing projects for <%= company.name %> | <%= link_to 'Create New Project', "/projects/new/#{params[:company_id]}" %></h3>
<% end %>
</div>


<% @projects.each do |project| %>
<% @company = Company.find :all, :conditions => ['id = ?', project.company_id]%>
<% @company.each do |company| %>
<% @company_name = company.name %>
<% end %>
 <div class="one-third columns">
   <h5><%= link_to project.title, project %></h5>
   <h6><%= link_to 'Edit', edit_project_path(project) %> <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></h6>
 </div>
<% end %>


