<div class="sixteen columns">
   	<h3><% if @companies.count == 0 %>
		Please create a <%= link_to 'New Company', new_company_path %> to proceed.
		<% else %>
		Listing Companies
		<% end %></h3>
 </div>


<% @companies.each do |company| %>
<% project_querry(company.id) %>
<div class="one-third columns">
   <h5><%= link_to company.name, "/projects/company/#{company.id}" %></h5>
   <h6>	<% if @total == 0 %>
	<p><%= link_to "Create New Project", "/projects/new/#{company.id}" %></p>
	<% else %>
	<p><%= link_to "Create New Project", "/projects/new/#{company.id}" %> | Number of active projects: <%= link_to project_querry(company.id), "/projects/company/#{company.id}" %></p>
	<% end %></h6>
 </div>
  
<% end %>
<% if @companies.count > 0 %>
<div class="sixteen columns">
   <h3><%= link_to 'New Company', new_company_path %></h3>
 </div>
<% end %>

