<!DOCTYPE html>
<html>
<head>
  <title>Manage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<%= javascript_include_tag "http://www.appelsiini.net/download/jquery.jeditable.js" %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<div class="container">
		<div class="sixteen columns">
					<h1 class="remove-bottom" style="margin-top: 40px">Inno Manage</h1>
					
					<h5>Version 0.1 | <% if user_signed_in? %>
					Welcome, <%= current_user.email %> <%= link_to 'Logout', '/sign_out' %>
					<% else %>
					Welcome, guest.
					<% end %>
					</h5>
					<hr />
				</div>
<%= yield %>
	</div><!-- container -->
</body>
</html>
