<!DOCTYPE html>
<html>
<head>
  <title>INNOPAR PM :: Version Alpha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<%= javascript_include_tag "http://www.appelsiini.net/download/jquery.jeditable.js" %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<div class="container">
		<div class="sixteen columns">
					<h1 class="remove-bottom" style="margin-top: 40px">INNOPAR PM</h1>
					
					<h5><% if user_signed_in? %> <%= link_to "Home", root_path %> &nbsp; &nbsp; <%= link_to 'Edit Profile', '/users/edit' %> &nbsp; &nbsp; |
					&nbsp; &nbsp; Welcome, <%= current_user.email %> &nbsp; &nbsp; | &nbsp; &nbsp; <%= link_to 'Logout', '/sign_out' %>
					<% else %>
					Welcome, <strong>guest</strong>. Please <%= link_to "sign in", new_session_path(resource_name) %> or <%= link_to "sign up", new_registration_path(resource_name) %>!
					<% end %>
				</h5><% if !notice.nil? %><p class="notice"><strong><%= notice %></strong></p> <% end %> <% if !alert.nil? %> <p class="alert"><strong><%= alert %></strong></p> <% end %>
					<hr />
				</div>
<%= yield %>
	<div class="sixteen columns">
		<h6 style="font-size:11px; text-align:right; color:#777; float:right; display:block; padding-bottom:10px;">Developed by <%= link_to 'Thomas Hastings', 'http://www.thomashastings.com', :target => "_blank" %>. Version <strong>Alpha</strong>.</h6>
	</div>
	</div><!-- container -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-2894769-12']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
</body>

</html>
